<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro
    name="so101_ros2_control"
    params="name prefix usb_port:=^|/dev/ttyUSB0 use_sim:=^|false use_fake_hardware:=^|false initial_positions_file"
  >
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="${name}" type="system">
      <xacro:if value="$(arg use_sim)">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
      </xacro:if>
      <xacro:unless value="$(arg use_sim)">
        <hardware>
          <xacro:if value="${use_fake_hardware}">
            <plugin>mock_components/GenericSystem</plugin>
          </xacro:if>
          <xacro:unless value="${use_fake_hardware}">
            <plugin>feetech_ros2_driver/FeetechHardwareInterface</plugin>
            <param name="usb_port">${usb_port}</param>
          </xacro:unless>
        </hardware>
      </xacro:unless>
      <joint name="${prefix}shoulder_pan">
        <param name="id">1</param>
        <param name="initial_position">${initial_positions['shoulder_pan']}</param>
        <param name="p_cofficient">10</param>
        <param name="offset">2048</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}shoulder_lift">
        <param name="id">2</param>
        <param name="initial_position">${initial_positions['shoulder_lift']}</param>
        <param name="p_cofficient">14</param>
        <param name="offset">2048</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}elbow_flex">
        <param name="id">3</param>
        <param name="initial_position">${initial_positions['elbow_flex']}</param>
        <param name="offset">2048</param>
        <param name="p_cofficient">22</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}wrist_flex">
        <param name="id">4</param>
        <param name="initial_position">${initial_positions['wrist_flex']}</param>
        <param name="offset">2048</param>
        <param name="p_cofficient">20</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}wrist_roll">
        <param name="id">5</param>
        <param name="initial_position">${initial_positions['wrist_roll']}</param>
        <param name="offset">2048</param>
        <param name="p_cofficient">16</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
      <joint name="${prefix}gripper">
        <param name="id">6</param>
        <param name="initial_position">${initial_positions['gripper']}</param>
        <param name="offset">2048</param>
        <param name="p_cofficient">8</param>
        <command_interface name="position" />
        <state_interface name="position" />
        <state_interface name="velocity" />
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>